<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RickAndMorty_MVP.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A1E7102C29781A6C0014A3BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1E7104229781A700014A3BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1E7104C29781A700014A3BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
